@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.7);
}
input:hover, textarea:hover{
     background-color: #dddddd;
}
legend {
    color: black;
    font-weight: bold;
    font-size: 13pt;
    font-family:sans-serif ;
}
fieldset{
    margin: 20px;
}
fieldset#sexo{
    width: 150px;
}
fieldset#usuario {
    background:url("../imagens/usuario.png") no-repeat 95% 95%;
}
fieldset#endereco {
    background: url("../imagens/icone_home.png") no-repeat 95% 95%;
}
fieldset#mensagem{
   background: url("../imagens/fale_conosco.png") no-repeat 95% 95%; 
}